name: backend deployment

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    name: build image, publish image & run on VM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: docker login docker.io -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"

      - name: extracting version from package.json
        run: |
            VERSION=$(jq -r .version package.json)
            echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: build image
        run: |
          docker build -t ayushwmp/backend:${{ env.VERSION }} .

      - name: Push Docker image
        run: |
          docker push ayushwmp/backend:${{ env.VERSION }}

      - name: Copy SSH key
        run: |
          echo "${{ secrets.VM_SSH_KEY }}" > ~/sum-app-key.pem
          chmod 600 ~/sum-app-key.pem

      - name: SSH into VM and restart container
        run: |
            ssh -o StrictHostKeyChecking=no -i ~/sum-app-key.pem azureuser@52.186.170.5 << 'EOF'
                docker pull ayushwmp/backend:${{ env.VERSION }}
                docker rm -f backend
                docker run -d --name backend --network my-net ayushwmp/backend:${{ env.VERSION }}
            EOF
